@media  screen and (min-width: 640px){
    header, footer{
        max-width: 90%;
        margin: 3rem 5%;
        justify-items: center;
        box-shadow:  0 4px 10px 10px var(--header-footer), 0 6px 20px 0 var(--header-footer);
        border-radius: 10px;;   
    }

    .review,
    .contact{
        max-width: 70%;
        margin: 3rem 15%;
        border-radius: 10px;
        box-shadow:  0 4px 10px 10px var(--main), 0 6px 20px 0 var(--main);
        color: var(--main-text);
    }

    .contact select{
        font-weight: 600;
    }

    .rf1 input[type="submit"]{
        width: 20%;
        margin-top: 1rem;
        margin-left: 10%;
        box-shadow: 1px 1px 4px var(--main-text);
        font-size: larger;
        font-weight: 600;
        cursor: pointer;
        
    }

}