:root{
    --main-color: #B4BB9D;
    --header-footer: #BB9DA5;
    --text-headerFooter: #190101;
}

*{
    margin: 0;
    padding: 0;
}

body{
   background-color: var(--main-color);
}

header {
    background-color: var(--header-footer);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-headerFooter);
    font-size: larger;
    justify-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

main{
   display: grid;
   grid-template-columns: 1fr;
   background-color: var(--main-color);   
   justify-items: center;
}

.weather-icon{
    width: 40px;
    height: auto;
}

.place-info, .data-header, .weather-header, .weather-info, .weather-icon{
    display: grid;
    justify-content: center;
}

.data-header, .weather-header{
    padding: 1rem;
}

.weather-icon{
    display: grid;
    justify-items: center;
    padding-left: 18rem;
    padding-bottom: 1rem;
}

footer{
    justify-items: center;
    background-color: var(--header-footer);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-headerFooter);
    font-size: larger;
    font-weight: 500;
    padding: 1rem;
    margin-top: 2rem;    
}

